{% extends "base.html" %}
{% load rc_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h2>Feed Garden</h2>
            <p>Recast will take care of your feeds for you.  There should be no need to use this page.  Disused feeds will be automatically polled less frequently and erroring feeds will be automatically unsubscribed.</p>
            <p>However, feel free to feed your inner pendant and cultivate the feed list by hand.</p>
            
            <table id="gardentable">
            	<tr>
                    <th>Subs</th>
            		<th>Feed</th>
            		<th>Posts</th>
            		<th>Interval</th>
            		<th>Last Successful Read</th>
            		<th>Due Poll</th>
            		<th>Last Result</th>
            		<th>Last Change</th>
            		<th> </th>
            	</tr>
            	{% for f in feeds %}
            		<tr style="{{f.gardenStyle}}">
            		    <td style="text-align:center">{{f.num_subs}}</td>
            			<td><a href="/source/{{f.id}}/"><img src="/static/images/recast-small.png" alt="Feed" width="32"></a> <a href="{{f.bestLink|escape}}">{{f.displayName}}</a> (<a href="{{f.feed_url|escape}}">feed</a>)</td>
            			<td style="text-align:right">{{f.max_index}}</td>
            			<td style="text-align:right">{{f.interval|hoursmins}}</td>
            			<td>{% if f.last_success %}{{f.last_success|timesince}} ago{% else %}Never{% endif %}</td>
            			<td>{{f.due_poll|timeuntil}}</td>
            			<td>[{{f.status_code}}] {{f.last_result}}</td>
            			<td>{% if f.last_change %}{{f.last_change|timesince}} ago{% else %}Never{% endif %}</td>
            			<td id="r{{f.id}}"><a href="javascript:refresh({{f.id}})" class="btn btn-sm btn-default">Refresh</a></td>
            		</tr>
            	{% endfor %}
            
            </table>

            {% csrf_token %}

            <script>
		

    function refresh(fid)
    {
    	$("#r" + fid).html('<div id="loader' + fid +'"><img src="/static/images/loader.gif" alt="Working" height="32" width="32"></div>');
    
    	$.post("/source/" + fid + "/revive/",function(data){
    	
    		$("#loader" + fid).fadeOut(function(){
    			$("#loader" + fid).html(data);
    			$("#loader" + fid).fadeIn();
    		});
    	
    	},'html');
    }

		
		
		    </script>
        </div>
    </div>
</div>
{% endblock %}