{% extends "base.html" %}
{% block head %}
    <script src="/static/js/clipboard-polyfill.js"></script>
{% endblock  %}


{% block title %}{{subscription.source.name}} | {% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <img class="pull-right feed-art" src="{{subscription.source.image_url}}" alt="Logo" onerror="imgError(this);">
            <h2>Your Recast of &lsquo;{{subscription.source.name}}&rsquo;</h2>

            <p class="description">{{subscription.source.description|default_if_none:""|safe }}</p>

            <p> 
                <a href="{{subscription.source.site_url}}">Show Homepage</a>
            </p>
            

        </div>
    </div>





    <div class="row">






        <div class="col-sm-6">
            <h3>Feed</h3>
            
            <p>
                The unique feed for this Recast is:<br>
                <a href="/feed/{{subscription.key}}/">https://{{ host }}/feed/{{ subscription.key }}/</a>  
                &nbsp;<a class="btn btn-xs btn-primary js-copy" href='#' title="Copy to clipboard"><i class="fas fa-copy"></i>  <span id='copyprompt'>Copy</span></a>
            </p>
            <p>
                Copy and Paste it to your podcast player of choice.
            </p>
            <br>
            <h3>Schedule</h3>
            
            <p>
            <form method="POST" name="frequencychange">
                <label class="nobold" for="frequency">New episodes are released every</label>
                    <select name="frequency" id="frequency" onchange="document.frequencychange.submit()">
                        {% for d in days %}
                            <option value="{{d}}" {% if d == subscription.frequency %}selected{% endif %}>{{d}}</option>
                        {% endfor %}
                </select>
                <label class="nobold" for="frequency">days.</label>
            </form>
            
            </p>

            <p>The next episode will drop <span id="countdown-holder">{{subscription.next_send_date}} (GMT)</span>.</p>

            <p>
                <form method="POST" name="release_form">
                    <input type="submit" value="Release Next Episode Now" class="btn btn-primary btn-xs">
                    <input type="hidden" name="release" value="yes">
                    <input type="hidden" name="episode" id="id_episode" value="{{ subscription.last_sent }}">
                </form>
            </p>
            
            <p>
                There is a link to this page in every episode, so you can change these settings at any time.</p>
            </p>
        </div>
        <div class="col-sm-6">

            <h3>Episodes</h3>
        
            <table class="episode-list">
                {% for e in episodes %}
                    <tr 
                        {% if e.index <  subscription.last_sent %}class="old"{% endif %}
                        {% if e.index == subscription.last_sent %}class="current"{% endif %}>
                        
                        <td>
                            <div style="width:20px">
                                {% if e.index < subscription.last_sent %}
                                    <a class="btn btn-xs btn-primary" href="javascript:setIndex({{e.index}})" title="Rewind to this episode"><span class="fa fa-fast-backward"></span></a>
                                {% endif %}
                                {% if e.index > subscription.last_sent %}
                                    <a class="btn btn-xs btn-primary" href="javascript:setIndex({{e.index}})" title="Skip to this episode"><span class="fa fa-fast-forward  "></span></a>
                                {% endif %}
                            </div>
                        </td>
                        <td><a href="{{e.link}}">{{e.title}}</a></td>
                        <td style="width:140px">{{e.created|date}}</td>
                    </tr>
                {% endfor %}
                {% if and_more > 0 %}
                    <tr>
                        <td></td>
                        <td><i>{{ and_more }} more episodes </i></td>
                        <td></td>
                    </tr>
                {% endif %}

            </table>

            <br><br>
        </div>
    </div>
</div>


    <script>
    
    $(".js-copy").on("click", function(){
    
    
        clipboard.writeText("https://{{ host }}/feed/{{ subscription.key }}/");
        $("#copyprompt").text("Copied!")
        setTimeout(resetCopy, 5000);
    
    });

    function resetCopy() {
        $("#copyprompt").text("Copy")
    }
    
    function setIndex(idx) {
        $("#id_episode").val(idx)
        document.release_form.submit()
    
    }

    </script>
 





{% endblock %}