{% extends "base.html" %}

{% block title %}Help | {% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

            	<h2>Why Recast?</h2>
            	
                <p>Recast is designed to make it convenient to listen to all the old episodes of a podcast from the beginning.</p>
                
                <p>Most podcast clients will only automatically present the latest episode of a podcast and leave you to manually download previous episodes one by one, eliminating
                    the convenience of automatic delivery.</p>
                
                <h2>How does it work?</h2>
                
                <p>Instead of subscribing directly to the podcast, you give Recast the address of the podcast's website or feed and it will return you a unique, personalized RSS feed that you can subscribe to in your podcast player.</p>
                
                <p>By default Recast will feed you a new episode of the podcast every five days - enough to slowly catch up with most weekly podcasts.  At any time, you can change 
                the frequency new episodes are released, or just release the next episode.</p>
                
                <p>Once you are subscribed to a Recast feed, every episode of the show will include a link to the settings page for that feed.</p>
                
                <h2>Why don't I need an account?</h2>

                <p>Every Recast link that is generated is unique and hard to guess.  Just keep your recast link private and everything will be fine!</p>

            	<h2>Bookmarklet</h2>
            	
                <p>This bookmarklet will pass the address of the current address any page you are on to Recast.  Use it to quickly and easily get a Recast link for a podcast you are 
                interested in.</p>
                
                <p>Simply drag this button onto your bookmark bar:

                    <a class="btn btn-primary btn-sm" href="javascript:document.location.href='https://recastthis.com/?feed=' + encodeURIComponent(document.location.href);">Recast This</a>

                </p>
                
            	
            	<p><a href="http://www.howtogeek.com/189358/beginner-geek-how-to-use-bookmarklets-on-any-device/">Find out more about bookmarklets</a>.</p>
            	
            	<h2>Why aren't all the episodes there?</h2>
            	
            	<p>Recast can only send you episodes that are in the feed today.  Most podcasts have a single feed that includes all the episodes since the start, but they don't have to.
            	If a feed is not complete, Recast cannot send episodes that it doesn't know about.</p>
            	
            	<p>NPR is particularly bad for this.</p>
            	
            	<p>Recast does keep records for episodes it has seen that have since dropped off the original feed. 
            	If someone Recast the podcast before you, it's possible that Recast can give you access to older episodes that are not currently available.
            	
                	
            	<h2>Find out More</h2>
            	
            	<p>Recast is a free project that I created because I couldn't find anything similar and I really wanted to listen to <a href="http://commonplacebooks.com/welcome-to-night-vale">Welcome to Night Vale</a> from the start.</p>
            	
            	<p>Recast is open source.  If there's something you want it to do that it currently doesn't, you can get the <a href="https://github.com/xurble/recast">source code from Github</a>, if that sort of thing means anything to you.</p>
            	
            	<h2>Questions or Feedback?</h2>
            	
            	<p>I am <a href="https://twitter.com/xurble">@xurble</a> on Twitter.  Try me there.</p>
            </div>
        </div>
    </div>

{% endblock %}