{% extends "base.html" %}

{% block title %}{{source.name}} | {% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img class="pull-right feed-art" src="{{source.image_url}}" alt="Logo" onerror="imgError(this);">
            <h2>A Recast of &lsquo;{{source.name}}&rsquo;</h2>

            <p class="description">{{source.description|default_if_none:""|safe }}</p>

            <p><a href="{{source.site_url}}">Show Homepage</a></p>
            

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
        
            <h3>Recast this Podcast</h3>
            <form method="POST" action="{% url 'subscribe' source.id %}">
                <input type="submit" class="btn btn-success" value="Get Recast Link">
                {% csrf_token %}
            </form>

            <br><br>        
            <h3>What is Recast?</h3>
            
            <p>Recast is a podcast rebroadcasting service.  You can get your own personalised feed of a
            podcast which will deliver you the episodes from the start at a schedule of your choosing.</p>
            
            <p><a class="btn btn-primary btn-sm" href="/help/">Find out more ...</a>
            
        
            {% if user.is_superuser %}
            <h3>Subscriptions</h3>
        
            <table class="episode-list">
                <tr>
                    <th>#</th>
                    <th>Frequency</th>
                    <th>Last Episode Sent</th>
                    <th>Feed Last Accessed</th>
                    
                </tr>
                {% for s in source.subscription_set.all %}
                    <tr>
                        <td>{{s.last_sent}} {% if s.complete %}(done){% endif %}</td>
                        <td>{{s.frequency}}</td>
                        <td>{{s.last_sent_date}}</td>
                        <td>{{s.last_accessed}}</td>
                    </tr>
                    <tr><td colspan="4" class="ua">{{s.accesslog_set.all.0.user_agent}} ({{s.accesslog_set.all.0.return_code}})</td></tr>
                {% endfor %}
            </table>
            
            
            {% endif %}
        </div>



        <div class="col-sm-6">
            <h3>Recastable Episodes</h3>
        
            <table class="episode-list">
                {% for p in source.post_set.all %}
                    <tr><td><a href="{{p.link}}">{{p.title}}</a></td><td>{{p.created|date}}</td></tr>
                {% endfor %}
            </table>
            <br><br>
        </div>

    </div>
</div>





{% endblock %}